* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator {
  width: 320px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
  grid-template-areas:
    "onoff shift history square"
    "divide multiply subtract add"
    "seven eight nine equals"
    "four five six clear"
    "one two three zero";
}
.display {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
}

.button {
  width: 100%;
  height: 100%;
  background-color: blue;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 6px;
  cursor: pointer;
}
#onoff,
#shift,
#history {
  font-size: 0.7rem;
}

#onoff {
  grid-area: onoff;
}
#shift {
  grid-area: shift;
}
#history {
  grid-area: history;
}
#square {
  grid-area: square;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#subtract {
  grid-area: subtract;
}
#add {
  grid-area: add;
}
#equals {
  grid-area: equals;
}
#clear {
  grid-area: clear;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
